- extends "article.jade"

block article_title
  | There was an error with this page

block article_content
  p The server encountered an error and could not complete your request.
  p If the problem persists, please contact us using the feedback form.
