- extends "base.jade"

block content
  main(role="main")
    article
      header.PageHeader
        .Content
          - include "includes/_breadcrumb.jade"
          h1.PageHeader-title
            block article_title
          block article_subtitle
      .Content
        .Article
          section.Article-content
            - include "includes/_sub-navigation.jade"
            block article_content
            - include "includes/_pagination.jade"
          aside.Article-meta
            block article_aside
