{% extends "base.html" %}

{% block page_header %}
<div class="row">
    <div class="medium-8 columns">
        <h1>{% block title %}{% endblock %}</h1>
    </div>
    <div class="medium-4 columns">
        <form action="/police/search/" class="inline-search" method="POST">
            {% csrf_token %}
            <input name="q" id="q" placeholder="Search services near you" type="text" />
            <input class="button radius" type="submit" value="Search" />
        </form>
    </div>
</div>
{% endblock %}
