- extends "base.jade"

block content
  main(role="main")
    - include "includes/_breadcrumb.jade"
    article#content
      header.PageHeader
        .PageHeader-row
          h1.PageHeader-title
            block article_title
          block article_subtitle
      .Content
        .Article
          section.Article-content
            block article_content
            - include "includes/_pagination.jade"
          aside.Article-meta
            block article_aside
          - include "includes/_feedback-form.jade"

