{% load pipeline %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Justice process</title>
    <meta content="width=device-width" name="viewport" />
    {% stylesheet 'main' %}
</head>

<body>
    <section class="security-banner">
        <div class="row">
            <div class="medium-12 columns">
                <svg height="50px" version="1.1" viewBox="0 0 50 50" width="50px" xmlns="http://www.w3.org/2000/svg" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g fill="none" fill-rule="evenodd" sketch:type="MSPage" stroke="none" stroke-width="1">
                        <path class="svg-path" d="M41.8,50 L8.2,50 C6.1,50 4,47.9166667 4,45.8333333 L4,25 C4,22.9166667 6.1,20.8333333 8.2,20.8333333 L10.3,20.8333333 L10.3,14.5833333 C10.3,6.25 16.6,0 25,0 C33.4,0 39.7,6.25 39.7,14.5833333 L39.7,20.8333333 L41.8,20.8333333 C43.9,20.8333333 46,22.9166667 46,25 L46,45.8333333 C46,47.9166667 43.9,50 41.8,50 L41.8,50 Z M33.4,14.5833333 C33.4,10.4166667 29.2,6.25 25,6.25 C20.8,6.25 16.6,10.4166667 16.6,14.5833333 L16.6,20.8333333 L33.4,20.8333333 L33.4,14.5833333 L33.4,14.5833333 Z" fill="#000000" sketch:type="MSShapeGroup"></path>
                    </g>
                </svg>
                <h1>Cover your tracks:</h1>
                <p>If you’re worried about someone knowing you've visited this website <a href="/online-safety/">read our guide</a> to staying safe online.</p>
                <p><a href="http://www.google.co.uk/">Quick exit</a>
                </p><a class="close-link" href="#">Close</a>
            </div>
        </div>
    </section>
    <div class="contain-to-grid">
        <nav class="top-bar" data-topbar="">
            <ul class="title-area">
                <li class="name">
                    <h1><a href="/">Victims' Information Service</a></h1>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a>
                </li>
            </ul>
            <section class="top-bar-section">
                <ul class="right">
                    <li class="active"><a href="/justice-process/">Justice process</a>
                    </li>
                    <li><a href="/your-rights/">Your rights</a>
                    </li>
                    <li><a href="/justice-process/">Support</a>
                    </li>
                    <li><a href="/glossary/">Glossary</a>
                    </li>
                    <li><a href="/getting-compensation/">Compensation</a>
                    </li>
                    <li><a href="/complaining/">Complaints</a>
                    </li>
                    <li><a href="/about/">About</a>
                    </li>
                </ul>
            </section>
        </nav>
    </div>
    <header class="page-header">
        {% block page_header %}{% endblock %}
    </header>
    <!--div class="bg-white"-->
        {% block content %}{% endblock %}
    <!--/div-->
    <div class="bg-black">
        <div class="row color-white">
            <div class="large-12 columns">
                <br />
                <p>© Copyright 2015, Victims' Information Service</p>
            </div>
        </div>
    </div>
    {% javascript 'main' %}
</body>

</html>
