- extends "base.jade"

block content
  main(role="main")
    section.LeadHeader
      .Content
        h1.LeadHeader-title Victims' Information Service
        form.SearchForm(action="/police/search/", method="post")
          label.SearchForm-label(for="q")
            .SearchForm-labelText Find help and support near you
            input.SearchForm-query(name="q", id="q", placeholder="Enter your home post code or local police authority", type="text")
          input.Button.SearchForm-submit(type="submit", value="Find support")
    .Content
      section.Panel-row
        - include "includes/panels/_icon.jade"
        - include "includes/panels/_icon.jade"
        - include "includes/panels/_icon.jade"
    .ColourRow--grey
      section.Content
        h1.Panel-rowHeading I am a victim: some common cases
        .Panel-row
          - include "includes/panels/_text.jade"
          - include "includes/panels/_text.jade"
          - include "includes/panels/_text.jade"
        .Panel-row
          - include "includes/panels/_text.jade"
          - include "includes/panels/_text.jade"
          - include "includes/panels/_text.jade"
