- extends "base.jade"
- load wagtailcore_tags helplines staticfiles pages_tags

block canonical
  //- Must have the ID canonical to update GA tracking page event
  - if q
    link(id="canonical", rel="canonical", href=self.full_url + "not-found")
  - else
    link(id="canonical", rel="canonical", href=self.full_url)

block title
  = self.title

block content
  main(role="main")
    #content
      header.PageHeader
        .PageHeader-row
          h1.PageHeader-title
            block pageHeading
              = self.title
      .Content
        article.Article
          .Article-content
            block search
              block searchText
                p There are support teams across England and Wales who help victims and witnesses recover after a crime.
                p Local support is free, even if the crime hasn’t been reported to the police.
              - include "includes/_local-search.jade" with modifier="compact" hideHeading="true" query=q name="landing-page"
              block nonEnglandWales
                details.Details
                  summary
                    span.Details-summaryLabel If you’re not in England or Wales
                  div.Details-content
                    p You can find support in:
                    ul
                      li
                        a(href="https://www.mygov.scot/victim-witness-support/", rel="external") Scotland
                      li
                        a(href="http://www.victimsupportni.co.uk/", rel="external") Northern Ireland
                      li
                        a(href="https://www.gov.je/crimejustice/victimswitnessescrime/pages/index.aspx", rel="external") Jersey
                      li
                        a(href="https://www.gov.gg/victim-support-witness-service", rel="external") Guernsey
                    p
                      | If a crime’s happened overseas and you’re still abroad you can find advice on&nbsp;
                      a(href="https://www.gov.uk/victim-crime-abroad", rel="external") GOV.UK
                      | . You can also get support from your local services when you return home.
              block supportDefinition
                h2 How the team can help
                p Your local team can help you get your life back on track by offering you personal support and advice on issues including:
                ul
                  li mental and physical health
                  li drug or alcohol problems
                  li finances, benefits and supporting your family
                  li shelter and accommodation
                  li education, skills and employment
                p If needed, they can arrange for you to have:
                ul
                  li emotional support
                  li counselling
                  li somewhere safe to stay
                  li someone to represent you, who’ll make sure you get all the help you need
            block pccList
              h3#area-list Choose your area in England and Wales
              - get_pcc_list as object_list
              - include "includes/_pcc-list.jade"
          - include "includes/_feedback-form.jade"
