{% extends "article.html" %}
{% load glossary %}

{% block title %}
    Glossary
{% endblock %}

{% block content %}
<div class="bg-white">
    <div class="row">
        <div class="large-8 columns">
            <dl>
            {% for item in object_list %}
                <dt><a name="{{item.slug}}"></a>{{item.name}}</dt>
                <dd>{{item.description}}</dd>
            {% endfor %}
            </dl>
        </div>
        <div class="large-4 columns">
            {% glossary_box %}
        </div>
    </div>
</div>
{% endblock %}
