- extends "article.jade"
- load glossary

block article_title
  | Glossary

block article_content
  dl.DefinitionList
    - for item in object_list
      dt
        a(name=item.slug)
        #{item.name}
      dd= item.description
