- extends "base.jade"

block content
  section.LeadHeader
    .Content
      h1.LeadHeader-title Victims' Information Service
      - include "includes/_local-search.jade" with modifier="block"
  section.Content
    .Panel-row
      - for panel in self.promo_panels.all
        - if forloop.counter0|divisibleby:3 and forloop.counter0 > 0
          </div><div class="Panel-row">
        - include "includes/panels/_icon.jade"
  section.ColourRow--grey
    .Content.js-RowReveal(data-row-selector=".Panel-row")
      h1.Panel-rowHeading I am a victim: some common cases
      .Panel-row
        - for panel in self.panels.all
          - if forloop.counter0|divisibleby:3 and forloop.counter0 > 0
            </div><div class="Panel-row">
          - include "includes/panels/_text.jade"
