- extends 'article.jade'
- load glossary wagtailcore_tags

block title
  = self.title

block article_content
  h1= self.title
  .bg-white
    .row
      .large-8.columns #{self.content|richtext}
      .large-4.columns
        - with self.glossary_items.all as items
          - include "templatetags/glossary/box.jade"
