{% load i18n %}
{% if page_types_restricted %}
  {% trans "Choose" as choose_str %}
  {% trans page_type.get_verbose_name as subtitle %}
{% else %}
  {% trans "Choose a page" as choose_str %}
{% endif %}

{% include "wagtailadmin/shared/header.html" with title=choose_str subtitle=subtitle search_url="wagtailextra_chooser" query_parameters="page_type="|add:page_type_string icon="doc-empty-inverse" %}

<div class="nice-padding">
    <p class="link-types">
          <b>{% trans "Internal link with anchor" %}</b>
    </p>

    <div class="page-results">
        {% include 'wagtailextra/anchoredchooser/_search_results.html' %}
    </div>
</div>
