if panel.link_page.live or not panel.link_page
  article.Panel.Panel--fullWidth
    a(href="#{panel.link_page.url}")
    h1.Panel-heading
     a(href="#{panel.link_page.url}")
      span.Panel-headingText #{panel.title}
    .Panel-content
      p= panel.content
