article.Panel.Panel--icon.Icon(class="Icon--#{panel.icon_classname}")
  h1.Panel-heading
    if panel.link_page
      a(href="#{panel.link_page.url}") #{panel.title}
    else
      =panel.title
  .Panel-content
    p=panel.content
