article.Panel.Panel--1-3.Panel--text
  h1.Panel-heading=panel.title
  .Panel-content
    p=panel.content
    - if panel.link_page
      p
        a(href="#{panel.link_page.url}")#{panel.link_text|default:panel.link_page}
