- extends "base.jade"

block html_class
  | v-home

block content
  section.LeadHeader
    .Content
      h1.LeadHeader-title Victims' Information Service
      - include "includes/_local-search.jade" with modifier="block"
  - for panel in self.lead_panels.all
    - if forloop.counter|divisibleby:2
      .ColourRow--grey
        .Content
          - include "includes/panels/_icon--fullWidth.jade"
    - else
      .Content
        - include "includes/panels/_icon--fullWidth.jade"
  section
    .Content.js-RowReveal(data-row-selector=".Panel-row")
      h1.Panel-rowHeading What's happened to you?
      .Panel-row
        - for panel in self.panels.all
          - if forloop.counter0|divisibleby:3 and forloop.counter0 > 0
            </div><div class="Panel-row">
          - include "includes/panels/_text.jade"
  section.ColourRow--grey
    .Content
      .Panel-row
        - for panel in self.promo_panels.all
          - if forloop.counter0|divisibleby:3 and forloop.counter0 > 0
            </div><div class="Panel-row">
          - include "includes/panels/_icon.jade"
