- extends "base.jade"

block html_class
  | v-home

block content
  #content
    section
      .Content
        - include "includes/_local-search.jade" with name="homepage"
    .Content
      section.Grid-row
        .Grid-col--2-3
          for panel in self.lead_panels.all
            - include "includes/panels/_icon--fullWidth.jade"
        .Grid-col--1-3
          - include "includes/_security-banner.jade"
      section
        h1.Panel-rowHeading Get specialist help after a crime
        h2.Panel-rowSubHeading Everyone is entitled to support after a crime. In some situations you might need specialist support.
        ul.ColumnList
          for panel in self.panels.all
            if panel.link_page.live or not panel.link_page
              li.ColumnList-item(class="{% if forloop.counter0|divisibleby:3 and forloop.counter0 > 0 %}is-rowStart{% endif %}")
                if panel.link_page
                  a(href="#{panel.link_page.url}") #{panel.title}
                else
                  #{panel.title}
      section
        hr.u-line
        .Panel-row
          for panel in self.promo_panels.all
            - if forloop.counter0|divisibleby:3 and forloop.counter0 > 0
              </div><div class="Panel-row">
            - include "includes/panels/_icon.jade"
