- extends "pcc_search.jade"

block pageHeading
  | We don’t recognise that postcode

block searchText
  p To find your local support team, try another postcode or <a href="#area-list">choose your area</a>.

block supportDefinition
