- extends "base.jade"
- load wagtailcore_tags helplines staticfiles pages_tags

block content
  main(role="main")
    header.PageHeader
      - include "includes/_breadcrumb.jade"
      h1.PageHeader-title Sorry, we don't recognise that location
    .Content
      article.Article
        .Article-content.Article-content--full
          h3 If you're in England or Wales
          p Please try again. Or choose your area from the list below.
          h3 If you're in another part of the UK or Channel Islands
          p You can find support in your area by following the links below.
          ul
            li
              a(href="http://www.victimsofcrimeinscotland.org.uk/", rel="external") Scotland
            li
              a(href="http://www.victimsupportni.co.uk/", rel="external") Northern
            li
              a(href="http://victimsupportjersey.co.uk", rel="external") Jersey
            li
              a(href="http://www.gov.gg/victims-witnesses", rel="external") Guernsey
          h3 If you're overseas
          p
            | If the incident happened overseas and you're still abroad you can find advice on&nbsp;
            a(href="https://www.gov.uk/victim-crime-abroad", rel="external") www.gov.uk
          p If you want further help when you return home, you'll be supported by local services.
          h3 Find your area in England or Wales
          - get_pcc_list as object_list
          - include "includes/_pcc-list.jade"
        - include "includes/_feedback-form.jade"











//- - extends "article.jade"
//- - load pages_tags

//- block article_title
//-   | Sorry, we don't recognise that location

//- block article_content
//-   h3 If you're in England or Wales
//-   p Please try again. Or choose your area from the list below.
//-   h3 If you're in another part of the UK or Channel Islands
//-   p You can find support in your area by following the links below.
//-   ul
//-     li
//-       a(href="http://www.victimsofcrimeinscotland.org.uk/", rel="external") Scotland
//-     li
//-       a(href="http://www.victimsupportni.co.uk/", rel="external") Northern
//-     li
//-       a(href="http://victimsupportjersey.co.uk", rel="external") Jersey
//-     li
//-       a(href="http://www.gov.gg/victims-witnesses", rel="external") Guernsey
//-   h3 If you're overseas
//-   p
//-     | If the incident happened overseas and you're still abroad you can find advice on
//-     a(href="https://www.gov.uk/victim-crime-abroad", rel="external") www.gov.uk.

//-   p If you want further help when you return home, you'll be supported by local services.
//-   h3 Find your area in England or Wales
//-   - get_pcc_list as object_list
//-   - include "includes/_pcc-list.jade"
