.panel
  h4 Glossary
  dl
    - for data in items
      - with data.glossary_item as item
        dt
          a(name=item.slug)= item.name
        dd= item.description
  a(href="/glossary/") See the full glossary