- load wagtailcore_tags

if items
  .MetaPanel
    h1.MetaPanel-title Glossary
    dl.DefinitionList
      for item in items
        - with item.glossary_item as item
          dt= item.name
          dd
            #{ item.description|richtext }
    a(href="{% slugurl 'glossary' %}") See the full glossary
