.Content {
  @extend %site-width-container;
}
.ColourRow--grey {
  background-color: $grey;
  border: {
    style: solid;
    color: transparent;
    width: 1px 0;
  }
}

.Article {
  @extend %grid-row;
  padding-top: 50px;
}
.Article-intro {
  @include grid-column( 1/1 );
}
.Article-content {
  @include grid-column( 2/3 );
}
.Article-meta {
  @include grid-column( 1/3 );

  img {
    display: block;
    margin: 2em 0;
  }
}
