.Content {
  @extend %site-width-container;
}
.ColourRow--grey {
  background-color: $grey;
  border: {
    style: solid;
    color: transparent;
    width: 1px 0;
  }
}

.Article {
  @extend %grid-row;
  padding-top: 2em;
}
.Article-intro {
  @include grid-column( 1/1 );
}
.Article-content {
  @include grid-column( 2/3 );

  h1 {
    @include font-61(700);
  }
  h2 {
    @include font-41(500);
  }
  h3 {
    @include font-27(500);
  }
  h4 {
    @include font-18(700);
  }
  p, ul, ol {
    @include font-18;
  }

  &.Article-content--full {
    @include grid-column( 1/1 );
  }
}
.Article-meta {
  @include grid-column( 1/3 );

  img {
    display: block;
    margin: 2em 0;
  }
}
