/* Fira Sans font definition */
@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/Fira/eot/FiraSans-Light.eot');
    src: local('Fira Sans Light'),
         url('../fonts/Fira/eot/FiraSans-Light.eot') format('embedded-opentype'),
         url('../fonts/Fira/woff/FiraSans-Light.woff') format('woff'),
         url('../fonts/Fira/ttf/FiraSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/Fira/eot/FiraSans-LightItalic.eot');
    src: local('Fira Sans Light Italic'),
         url('../fonts/Fira/eot/FiraSans-LightItalic.eot') format('embedded-opentype'),
         url('../fonts/Fira/woff/FiraSans-LightItalic.woff') format('woff'),
         url('../fonts/Fira/ttf/FiraSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/Fira/eot/FiraSans-Regular.eot');
    src: local('Fira Sans Regular'),
         url('../fonts/Fira/eot/FiraSans-Regular.eot') format('embedded-opentype'),
         url('../fonts/Fira/woff/FiraSans-Regular.woff') format('woff'),
         url('../fonts/Fira/ttf/FiraSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/Fira/eot/FiraSans-Italic.eot');
    src: local('Fira Sans Regular Italic'),
         url('../fonts/Fira/eot/FiraSans-Italic.eot') format('embedded-opentype'),
         url('../fonts/Fira/woff/FiraSans-Italic.woff') format('woff'),
         url('../fonts/Fira/ttf/FiraSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/Fira/eot/FiraSans-Medium.eot');
    src: local('Fira Sans Medium'),
         url('../fonts/Fira/eot/FiraSans-Medium.eot') format('embedded-opentype'),
         url('../fonts/Fira/woff/FiraSans-Medium.woff') format('woff'),
         url('../fonts/Fira/ttf/FiraSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/Fira/eot/FiraSans-MediumItalic.eot');
    src: local('Fira Sans Medium Italic'),
         url('../fonts/Fira/eot/FiraSans-MediumItalic.eot') format('embedded-opentype'),
         url('../fonts/Fira/woff/FiraSans-MediumItalic.woff') format('woff'),
         url('../fonts/Fira/ttf/FiraSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/Fira/eot/FiraSans-Bold.eot');
    src: local('Fira Sans Bold'),
         url('../fonts/Fira/eot/FiraSans-Bold.eot') format('embedded-opentype'),
         url('../fonts/Fira/woff/FiraSans-Bold.woff') format('woff'),
         url('../fonts/Fira/ttf/FiraSans-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: url('../fonts/Fira/eot/FiraSans-BoldItalic.eot');
    src: local('Fira Sans Bold Italic'),
         url('../fonts/Fira/eot/FiraSans-BoldItalic.eot') format('embedded-opentype'),
         url('../fonts/Fira/woff/FiraSans-BoldItalic.woff') format('woff'),
         url('../fonts/Fira/ttf/FiraSans-BoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Mono';
    src: url('../fonts/Fira/eot/FiraMono-Regular.eot');
    src: local('Fira Mono'),
         url('../fonts/Fira/eot/FiraMono-Regular.eot') format('embedded-opentype'),
         url('../fonts/Fira/woff/FiraMono-Regular.woff') format('woff'),
         url('../fonts/Fira/ttf/FiraMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Mono';
    src: url('../fonts/Fira/eot/FiraMono-Bold.eot');
    src: local('Fira Mono Bold'),
         url('../fonts/Fira/eot/FiraMono-Bold.eot') format('embedded-opentype'),
         url('../fonts/Fira/woff/FiraMono-Bold.woff') format('woff'),
         url('../fonts/Fira/ttf/FiraMono-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

/* Merriweather font definition */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Merriweather-Regular.eot'); /* IE9 Compat Modes */
  src: local('Merriweather Regular'), local('Merriweather-Regular'),
       url('../fonts/Merriweather-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Merriweather-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Merriweather-Regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Merriweather-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Merriweather-Regular.svg#Merriweather') format('svg'); /* Legacy iOS */
}
/* merriweatherRegularItalic - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/Merriweather-RegularItalic.eot'); /* IE9 Compat Modes */
  src: local('Merriweather Italic'), local('MerriweatherRegularItalic'),
       url('../fonts/Merriweather-RegularItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Merriweather-RegularItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Merriweather-RegularItalic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Merriweather-RegularItalic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Merriweather-RegularItalic.svg#Merriweather') format('svg'); /* Legacy iOS */
}
/* merriweatherBold - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Merriweather-Bold.eot'); /* IE9 Compat Modes */
  src: local('Merriweather Bold'), local('Merriweather-Bold'),
       url('../fonts/Merriweather-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Merriweather-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Merriweather-Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Merriweather-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Merriweather-Bold.svg#Merriweather') format('svg'); /* Legacy iOS */
}
/* merriweatherBoldItalic latin */
@font-face {
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/Merriweather-BoldItalic.eot'); /* IE9 Compat Modes */
  src: local('Merriweather Bold Italic'), local('Merriweather-BoldItalic'),
       url('../fonts/Merriweather-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Merriweather-BoldItalic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Merriweather-BoldItalic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Merriweather-BoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Merriweather-BoldItalic.svg#Merriweather') format('svg'); /* Legacy iOS */
}

// basic body font
$fira-sans: 'Fira sans', Helvetica, sans-serif;

// heading font
$merriweather: 'Merriweather', Georgia, serif;

// Font reset for print
$print-reset: sans-serif;
