.SiteFooter {
  background-color: $black;
  color: $white;
  padding: 2.5em 0;
  margin: 3em 0 0;

  .v-home & {
    margin-top: 0;
  }

  a {
    color: $white;
  }
}
.SiteFooter-container {
  @extend %site-width-container;
}
.SiteFooter-row {
  @extend %grid-row;
}
.SiteFooter-aside {
  @include grid-column( 1/3 );
}
.SiteFooter-copyright {
  @include core-16;
  margin: 0 0 2.5em;

  a {
    background: url(../images/govuk-crest.png) left top no-repeat;
    padding: 140px 0 0;
    display: block;
    text-decoration: none;

    @include device-pixel-ratio() {
      background-image: url(../images/govuk-crest@2x.png);
      background-size: 145px 119px;
    }
  }
}
.SiteFooter-ogl {
  @include core-16;
  background: url(../images/open-government-licence.png) left top no-repeat;
  padding: 45px 0 0;
  margin: 0 0 2.5em;

  @include media(tablet) {
    margin-bottom: 0;
  }

  @include device-pixel-ratio() {
    background-image: url(../images/open-government-licence@2x.png);
    background-size: 60px 25px;
  }
}
.SiteFooter-content {
  @include grid-column( 2/3 );
  @include core-16;
}
.SiteFooter-nav {
  @include core-16;
  margin: 0;
  padding: 0;
  list-style: none;
}
.SiteFooter-navItem {
  margin: 0 0 5px;
}
