%burger-line {
  @include border-radius(5px);
  // @include transition(all, 200ms, ease-in-out);
  height: 5px;
  width: 35px;
  background: $secondary-colour;
  position: absolute;
  display: block;
  content: '';
}

.SiteHeader {
  background-color: $primary-colour;
  padding-top: 15px;
}
.SiteHeader-inner {
  @extend %site-width-container;
  @extend %contain-floats;
}
.SiteHeader-title {
  @include bold-24;
  padding: 0 0 15px;
  margin: 0;
  color: $white;

  @include media(desktop) {
    float: left;
  }

  a {
    color: $white;
    text-decoration: none;
  }
}
a.SiteHeader-menuToggle {
  color: $secondary-colour;
  text-decoration: none;
  display: block;
  position: relative;
  padding-left: 45px;
  padding-bottom: 15px;

  @include media(desktop) {
    display: none;
  }

  span{
    @extend %burger-line;
    position: absolute;
    top: 9px;
    left: 0;

    &:before,
    &:after {
      @extend %burger-line;
    }

    &:before {
      top: -10px;
    }
    &:after {
      bottom: -10px;
    }
  }

  // active state
  &.is-open span {
    background-color: transparent;
    // transform: rotate(360deg);

    &:before {
      top: 0;
      transform: rotate(45deg);
    }
    &:after {
      top: 0;
      transform: rotate(-45deg);
    }
  }
}
.SiteHeader-menu {
  @extend %outdent-to-full-width;
  background-color: $black;

  @include media(desktop) {
    background-color: transparent;
    float: right;
    margin-left: 0;
    margin-right: 0;
  }

  .js-enabled & {
    display: none;

    @include media(desktop) {
      display: block;
    }
  }
  &.is-open {
    display: block;
  }

}
.SiteHeader-menuList {
  @extend %contain-floats;
  @extend %site-width-container;
  padding: 12px 0;
  list-style: none;
  font-weight: 500;

  @include media(desktop) {
    @include core-14;
    font-weight: 500;
    padding: 7px 0;
    margin: 0;
  }
}
.SiteHeader-menuItem {
  padding: 1px 0 0;
  display: block;

  @include media(desktop) {
    float: left;
    padding: 0 0 0 30px;

    &:first-child {
      padding-left: 0;
    }
  }

  a {
    color: $secondary-colour;
    text-decoration: none;
    display: block;

    &:hover {
      color: $white;
    }
  }
}
