.SiteHeader {
  background-color: $black;
}
.SiteHeader-inner {
  @extend %site-width-container;
  @extend %contain-floats;
  padding-bottom: 15px;
  padding-top: 15px;
}
.SiteHeader-title {
  @include font-16(800);
  float: left;
  font-size: 16px;
  margin: 0;
  color: $white;

  @include media(desktop) {
    float: left;
  }

  a {
    @extend %contain-floats;
    color: $white;
    display: block;
    text-decoration: none;
  }
}
.SiteHeader-logo {
  border-right: 1px solid $white;
  display: block;
  float: left;
  padding-right: 15px;
  margin-right: 15px;
  width: 63px;
  height: 55px;
  background: url("../images/ministry-of-justice-logo--mobile.png") top left no-repeat;
  text-indent: -9999px;

  @include device-pixel-ratio() {
    background-image: url(../images/ministry-of-justice-logo--mobile@2x.png);
    background-size: 63px 55px;
  }

  @include media(desktop) {
    background-image: url("../images/ministry-of-justice-logo.png");
    height: 32px;
    width: 199px;
    padding-right: 20px;
    margin-right: 20px;

    @include device-pixel-ratio() {
      background-image: url(../images/ministry-of-justice-logo@2x.png);
      background-size: 199px 32px;
    }
  }
}
.SiteHeader-sitename {
  display: block;
  float: left;
  line-height: 1.1em;
  padding-top: 23px;
  width: 160px;
  font-family: $merriweather;

  @include media(desktop) {
    line-height: 32px;
    padding-top: 0;
    width: auto;
  }
}

a.SiteHeader-menuToggle {
  @include font-18;
  font-size: 16px;
  display: table;
  float: right;
  position: relative;
  width: 60px;
  height: 50px;
  margin-top: 2px;
  border: 2px solid $white;
  border-radius: 8px;
  color: $white;
  line-height: 1em;
  text-decoration: none;
  text-align: center;

  span {
    display: table-cell;
    vertical-align: middle;
  }

  @include media(desktop) {
    display: none;
  }
}
.SiteHeader-menu {
  background-color: $grey;

  @include media(desktop) {
    @include ie-lte(8) {
      min-width: 1%;
      width: auto;
    }
  }

  .js-enabled & {
    display: none;

    @include media(desktop) {
      display: block;
    }
  }
  &.is-open {
    display: block;
  }

}
.SiteHeader-menuList {
  @extend %contain-floats;
  @extend %site-width-container;
  @include font-18(500);
  font-family: $merriweather;
  list-style: none;
  padding: 0;

  @include media(desktop) {
    border-top: 0;
    font-size: 16px;
    padding: 0 0 15px;

    @include ie-lte(8) {
      min-width: 1%;
      width: auto;
    }
  }
}
.SiteHeader-menuItem {
  border-bottom: 1px solid;
  display: block;
  margin-bottom: 0;

  &:last-child {
    border-bottom: 0;
  }

  @include media(desktop) {
    float: left;
    border-right: 1px solid $black;
    border-bottom: 0;
    line-height: 1em;
    margin: 15px 15px 0 0;
    padding: 0 15px 0 0;

    &:last-child {
      border: 0;
      margin-right: 0;
      padding-right: 0;
    }
  }

  a {
    color: $black;
    text-decoration: none;
    display: block;
    padding: 19px 0 16px;

    @include media(desktop) {
      padding: 0;
    }
  }

  span {
    position: relative;

    @include media(desktop) {
      &:after {
        content: "";
        display: none;
        position: absolute;
        bottom: -5px;
        height: 2px;
        width: 100%;
        background-color: $primary-colour;
      }
    }
  }

  &.is-active span {
    border-bottom: 2px solid $primary-colour;
    padding-bottom: 3px;

    @include media(desktop) {
      border-bottom: 0;
      display: block;
      padding-bottom: 0;
    }
  }

  a:hover span:after,
  &.is-active span:after {
    @include media(desktop) {
      display: block;
    }
  }
}
