- load filter wagtailcore_tags
footer.SiteFooter(role="contentinfo")
  .SiteFooter-container
    .SiteFooter-row
      .SiteFooter-aside
        p.SiteFooter-copyright
          a(href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright/crown-copyright/") &copy; Crown copyright
        p.SiteFooter-ogl
          | All content is available under the&nbsp;
          a(href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/") Open Government Licence v3.0
          | , except where otherwise stated
      .SiteFooter-content
        p.SiteFooter-contact
          | For advice, help and support call&nbsp;
          strong.SiteFooter-contactNum 0808 138 9293
        h2.SiteFooter-contentTitle About Victims' Information Service
        p='about'|dynamic_content
        nav
          ul.SiteFooter-nav
            li.SiteFooter-navItem
              a(href="{% slugurl 'glossary' %}") Find the meaning of a legal term
            li.SiteFooter-navItem
              a(href="https://www.gov.uk/government/publications/the-code-of-practice-for-victims-of-crime") Download the Victims' Code
            li.SiteFooter-navItem
              a(href="https://www.gov.uk/government/publications/the-witness-charter-standards-of-care-for-witnesses-in-the-criminal-justice-system") Download the Witness Charter
