- load filter wagtailcore_tags
footer.SiteFooter(role="contentinfo")
  .SiteFooter-container
    .SiteFooter-row
      .SiteFooter-content
        if maintenance != True
          nav
            ul.SiteFooter-nav
              li.SiteFooter-navItem
                a(href="{% slugurl 'online-safety' %}") Stop others seeing which websites you are visiting
              li.SiteFooter-navItem
                a(href="{% slugurl 'glossary' %}") Find the meaning of a word or phrase
              li.SiteFooter-navItem
                a(href="{% slugurl 'cookies' %}") Cookies
        .SiteFooter-contact
          p
            | If you can’t find the information or support you’re looking for, call Victim Support on&nbsp;
            strong.SiteFooter-contactNum 0808 168 9293
          p.SiteFooter-contactTerms Lines are open between 8am and 8pm. It’s free to call from a landline, but you might be charged if you call from a mobile.
        h2.SiteFooter-contentTitle About Victim and Witness Information
        p='about'|dynamic_content
      .SiteFooter-aside
        p.SiteFooter-copyright
          a(href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright/crown-copyright/") &copy; Crown copyright
        p.SiteFooter-ogl
          | All content is available under the&nbsp;
          a(href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/") Open Government Licence v3.0
          | , except where otherwise stated
