- load filter wagtailcore_tags
footer.SiteFooter(role="contentinfo")
  .SiteFooter-container
    .SiteFooter-row
      .SiteFooter-aside
        p.SiteFooter-copyright
          a(href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright/crown-copyright/") &copy; Crown copyright
        p.SiteFooter-ogl
          | All content is available under the&nbsp;
          a(href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/") Open Government Licence v3.0
          | , except where otherwise stated
      .SiteFooter-content
        h2 About Victims' Information Service
        p='about'|dynamic_content
        nav
          ul.SiteFooter-nav
            li.SiteFooter-navItem
              a(href="{% slugurl 'glossary' %}") Find the meaning of a legal term
            li.SiteFooter-navItem
              a(href="") Download the Victim's Code
            li.SiteFooter-navItem
              a(href="") Download the Witness's Charter
