form(action="/police/search/", method="post", class="SearchForm SearchForm--#{modifier}")
  - csrf_token
  input(type="hidden", name="lat")
  input(type="hidden", name="lng")

  label.SearchForm-label(for="q")
    span.SearchForm-labelText If you've been a victim of crime, there is help and support near you
    input.SearchForm-query(name="q", id="q", placeholder="Enter your postcode", type="text")
  button.Button.SearchForm-submit(type="submit")
    span.SearchForm-submitText Find services in your area
