- load staticfiles core_tags

.SearchForm.js-PCCSearch(class="{% if modifier %} SearchForm--{{ modifier }}{% endif %}")
  if modifier == 'hero'
    img.SearchForm-img(src="{% static 'images/homepage-background.png' %}", srcset="{% static 'images/homepage-background@2x.png' %} 2x")
  .SearchForm-content
    h2.SearchForm-heading Find local support
    p.SearchForm-subHeading Your local support team will help you cope, recover and seek justice after a crime.
    form(action="/find-local-support/", method="get", id="{{ name }}-search", name=name)
      label(for="q--{{ name }}")
        if not hideHeading
          span.SearchForm-labelText Enter your postcode
        span.SearchForm-wrap
          input.SearchForm-query(name="q", id="q--{{ name }}", placeholder="Enter your postcode", type="text", value="#{ query if query else '' }")
          button.Button.SearchForm-submit(type="submit")
            span.SearchForm-submitText Find

