section.security-banner
  h1 Cover your tracks
  p 
    | If you're worried about someone knowing you've visited this website 
    a(href="") read our guide
    | 
    | to staying safe online.
    | 
    a(href="") Quick exit
  a.close-link(href="#") Close