section.SecurityBanner
  .SecurityBanner-container
    .SecurityBanner-icon
      h1.SecurityBanner-title Cover your tracks:
      p.SecurityBanner-content
        | If you're worried about someone knowing you've visited this website&nbsp;
        a(href="") read our guide
        | &nbsp;to staying safe online.&nbsp;
      .SecurityBanner-options
        a.Button(href="http://www.google.com/")
          span.Icon.Icon--shield Quick exit
        a.Button.js-SecurityExit(href="#", data-banner=".SecurityBanner")
          span.Icon.Icon--cross Close
