- load core_tags
- get_site_root as site_root

header.SiteHeader(role="banner")
  .SiteHeader-inner
    h1.SiteHeader-title
      if maintenance != True
        a(href='/') Victims’ Information Service
      else
        | Victims’ Information Service
    if maintenance != True
      a.SiteHeader-menuToggle.js-mobileMenuToggle(href="#", data-target=".SiteHeader-menu") Menu
        span
      - top_menu parent=site_root calling_page=self
