- load core_tags
- get_site_root as site_root

#skiplink-container
  a.skiplink(href="#content") Skip to main content

header.SiteHeader(role="banner")
  .SiteHeader-inner
    .SiteHeader-title
      if maintenance != True
        a(href='/')
          span.SiteHeader-logo Ministry of Justice
          span.SiteHeader-sitename Victim and Witness Information
      else
        span.SiteHeader-logo Ministry of Justice
        span.SiteHeader-sitename Victim and Witness Information
    if maintenance != True
      a.SiteHeader-menuToggle.js-mobileMenuToggle(href="#", data-target=".SiteHeader-menu", data-open-text="Close menu")
        span.js-mobileMenuToggleText Menu
  if maintenance != True
    - top_menu parent=site_root calling_page=self
