header.SiteHeader(role="banner")
  .SiteHeader-inner
    h1.SiteHeader-title
      a(href='/') Victims' Information Service
    a.SiteHeader-menuToggle(href="#") Menu
      span
    nav.SiteHeader-menu
      ul.SiteHeader-menuList
        li.SiteHeader-menuItem.SiteHeader-menuItem--active
          a(href='/justice-process/') Justice process
        li.SiteHeader-menuItem
          a(href='/your-rights/') Your rights
        li.SiteHeader-menuItem
          a(href='/justice-process/') Support
        li.SiteHeader-menuItem
          a(href='/glossary/') Glossary
        li.SiteHeader-menuItem
          a(href='/getting-compensation/') Compensation
        li.SiteHeader-menuItem
          a(href='/complaining/') Complaints
        li.SiteHeader-menuItem
          a(href='/about/') About
