- if show_siblings
  nav.SubNavigation(role="navigation", aria-label="parts to this guide")
    p.SubNavigation-heading Contents
    ol.SubNavigation-menu
      - for sibling in self.live_siblings
        - with sibling.simplepage.menu_title|default:sibling.title as title
          li.SubNavigation-menuItem
            - if sibling.specific == self
              = title
            - else
              a.SubNavigation-itemLink(href="#{sibling.url}")= title
