- if show_siblings
  nav.SubNavigation
    ol.SubNavigation-menu
      - for sibling in self.get_siblings
        - with sibling.simplepage.menu_title|default:sibling.title as title
          li(class="SubNavigation-menuItem")
            - if sibling.specific == self
              = title
            - else
              a.SubNavigation-itemLink(href="#{sibling.url}")= title
