$black: #1C2127;
$grey: #E8E8E8;
$dark-grey: #979797;
$white: #ffffff;
$red: #df3034;

$primary-colour: #CE5800;
$secondary-colour: #005272;

$text-colour: $black;

$button-colour: $primary-colour;

// links
$link-colour: $secondary-colour;
$link-visited-colour: #6C74A9;
$link-hover-colour: #8AA8D8;
$link-active-colour: $black;
$focus-colour: #ffbf47;
