@import 'font-stack';
@import 'govuk_frontend_toolkit/stylesheets/conditionals';

// Initially a port from the govuk toolkit

//  typography palettes

//  ANATOMY OF A TYPE STYLE
//  -----------------------
//  These are a collection of graphic styles. They are deliberately
//  abstracted from semantic HTML context to enable flexible re-use.
//  Although there is a lot of duplication within this file, as long
//  as you GZIP your CSS it shouldnt cause any bloat.


// CORE FONTS

$is-print: false !default;

@mixin _core-font-generator($font-size: 18px, $font-size-640: 16px, $font-size-print: 14pt, $line-height: 25/18, $line-height-640: 20/16, $font-weight: 400) {
  font-family: $fira-sans;
  font-weight: $font-weight;

  @if $is-print == true {
    font-family: $print-reset;
    font-size: $font-size-print;
  } @else {
    font-size: $font-size-640;
    line-height: $line-height-640;

    @include media(tablet) {
      font-size: $font-size;
      line-height: $line-height;
    }
  }
}

@mixin font-43($font-weight: 400) {
  @include _core-font-generator(43px, 36px, 32pt, 50/43, 42/36, $font-weight);
}

@mixin font-32($font-weight: 400) {
  @include _core-font-generator(32px, 26px, 22pt, 25/32, 25/26, $font-weight);
}

@mixin font-24($font-weight: 400) {
  @include _core-font-generator(24px, 20px, 20pt, 25/24, 22/20, $font-weight);
}

@mixin font-18($font-weight: 400) {
  @include _core-font-generator(18px, 16px, 14pt, 25/18, 22/16, $font-weight);
}

@mixin font-16($font-weight: 400) {
  @include _core-font-generator(16px, 14px, 12pt, 25/16, 22/14, $font-weight);
}
