.MetaPanel
  h1.MetaPanel-title Additional national helplines
  dl.DefinitionList
    - for item in items
      dt= item.name
      dd
        #{item.phone}
        br
        a(href=item.url)= item.url

