- extends "article.jade"
- load markdown_deux_tags helplines

block article_title
  | Search Results

block article_content
  .lead= object.name
  hr
  h2 National helplines for the most serious crimes
  p
    | National Homicide Service - call if your case involves a murder
    br
    strong 0808 1689 111
  hr
  #{ object.content|markdown }

block article_aside
  - helpline_box
