.DefinitionList {
  @include font-18;
  margin: 0;

  &:not(:first-child) {
    margin-top: 1.389em;
  }

  dt {
    font-weight: 700;
  }
  dd {
    margin-left: 0;
    margin-bottom: 1.389em;
  }
}
