details {
  @include font-18;
}

summary {
  color: $link-colour;

  &:focus {
    outline: none;

    .Details-summaryLabel {
      outline: 3px solid $focus-colour;
    }
  }

  &:hover {
    color: $link-hover-colour;
  }
  &:active {
    color: $link-active-colour;
  }
}

* + .Details,
.Details + * {
  margin-top: 1.389em;
}

.Details-summaryLabel {
  @include font-18;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 0;
  text-decoration: underline;
}

.Details-content {
  border-left: 5px solid $dark-grey;
  padding: 0.695em 0 0.695em 1.389em;
  margin: 0.695em 0 0;

  * + * {
    margin: 1.389em 0 0;
  }

  li + li {
    margin-top: 0.444em;
  }
}
