details {
  @include font-18;
}

summary {
  color: $link-colour;

  &:focus {
    outline: none;

    .Details-summaryLabel {
      outline: 3px solid $focus-colour;
    }
  }

  &:hover {
    color: $link-hover-colour;
  }
  &:active {
    color: $link-active-colour;
  }
}

.Details-summaryLabel {
  display: inline-block;
  cursor: pointer;
  text-decoration: underline;
}
