.LeadHeader {
  text-align: center;
  background-color: $secondary-colour;

  @include media(desktop) {
    background-image: url(../images/clouds.png);
    background-size: cover;
  }
}
.LeadHeader-title {
  @extend .visuallyhidden;

  @include media(desktop) {
    @include bold-60;
    position: inherit;
    left: auto;
    color: $white;
    padding: 0.833em 0;
  }
}
