.LeadHeader {
  text-align: center;
  background-color: $secondary-colour;

  @include media(desktop) {
    background: {
      repeat: no-repeat;
      position: center bottom;
      image: url(../images/header--people.png);
    }
  }
}
.LeadHeader-title {
  @extend .visuallyhidden;

  @include media(desktop) {
    @include bold-60;
    position: inherit;
    left: auto;
    color: $primary-colour;
    padding: 0.833em 0;
  }
}
