.LetterNavigation {
  @extend %contain-floats;
  @include font-18;
  list-style: none;
  padding: 0;
  margin: 0 0 2.778em;
}
.LetterNavigation-listItem {
  @include font-24(500);
  display: block;
  float: left;
  color: $dark-grey;
  text-transform: uppercase;
  margin-right: 0.65em;
}
.LetterNavigation-letter {
  @extend %contain-floats;
  @include font-24(500);
  color: $primary-colour;
  text-transform: uppercase;
  border-bottom: 1px solid $grey;
  margin-bottom: 1.042em;
  padding-bottom: 1px;
}
.LetterNavigation-topLink {
  @include font-16;
  text-transform: none;
  float: right;
}
