.MetaPanel {
  @include font-18;
  background-color: $grey;
  padding: 1.389em 1.111em;
  margin-top: 2.778em;
  margin-bottom: 2.778em;

  @include media(tablet) {
    margin-top: 0;
  }
}
.MetaPanel-title {
  @include font-27(500);
  color: $primary-colour;
}
