.MetaPanel {
  @include font-18;
  background-color: $grey;
  padding: 1.389em 1.111em;
  margin-top: 30px;
  margin-bottom: 30px;

  @include media(tablet) {
    margin-top: 50px;
    margin-bottom: 50px;

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.MetaPanel-title {
  @include font-24(700);
  margin-bottom: 1.042em;
}
