.PageHeader {
  @extend %site-width-container;
}
.PageHeader-row {
  @extend %grid-row;
}
.PageHeader-title {
  @include grid-column( 2/3 );
  @include font-43(800);
  display: block;
  color: $primary-colour;
  margin-top: 0.581em;
}
.PageHeader-subTitle {
  @include font-32(500);
  color: $primary-colour;
}
