.Pagination-menu {
  @extend %contain-floats;
  @include font-18;
  padding: 0;
  margin: 2.778em 0 0;
  list-style: none;
}
.Pagination-menuItem {
  a {
    text-decoration: none;
    span {
      text-decoration: underline;
    }
  }

  &.Pagination-menuItem--prev {
    float: left;
  }
  &.Pagination-menuItem--next {
    float: right;
  }
}
