.PageHeader {
  background-color: $secondary-colour;
}
.PageHeader-title {
  @include bold-60;
  display: block;
  color: $primary-colour;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.PageHeader-subTitle {
  @include bold-36;
  font-weight: 500;
  color: $primary-colour;
  margin-top: -0.5em;
  padding-bottom: 0.833em;
}
