.Panel-row {
  @extend %grid-row;
}
.Panel-rowHeading {
  @include font-32(800);
  margin: 1.563em 0 0;
  padding: 0;
  overflow: visible;

  @include media(tablet) {
    text-align: center;
  }
}
.Panel-rowSubHeading {
  @include font-18(500);
  margin: 1.389em 0;
  padding: 0;
  overflow: visible;

  @include media(tablet) {
    text-align: center;
    margin: {
      left: 12%;
      right: 12%;
    };
  }
}
.Panel {
  @extend %contain-floats;
  @include grid-column( 1/1 );
  @include font-18;
  margin: 30px 0;

  @include media(desktop) {
    margin: 50px 0;
  }

  &.Panel--icon {
    text-align: center;

    @include media(tablet) {
      text-align: left;
    }

    .Icon:before {
      @include border-radius(50%);
      background-color: $grey;
      color: $primary-colour;
      font-size: 44px;
      display: block;
      line-height: 1.705em;
      height: 1.705em;
      width: 1.705em;
      padding: 0;
      margin: 0 auto 20px;
      text-align: center;

      @include media(desktop) {
        font-size: 50px;
      }
    }
  }

  &.Panel--fullWidth {
    a {
      display: block;
      text-decoration: none;
    }

    @include media(tablet) {
      .Icon {
        float: left;

        &:before {
          margin-bottom: 0;
        }
      }
    }
  }
}
.Panel-heading {
  @include font-24(800);
  color: $primary-colour;
  margin: 0;
}
.Panel-headingText {
  text-decoration: underline;
}
.Panel-image {
  @include box-sizing(border-box);
  display: block;
  margin-top: 0.833em;
  width: 100%;

  @include media(tablet) {
    padding-right: 1.389em;
  }

  &:hover {
    border-color: $dark-grey;
  }

  img {
    display: block;
    width: 100%;
    border: 6px solid $grey;
    box-sizing: border-box;
  }

  .Panel--image & {
    @include media(tablet) {
      float: left;
      width: 30%;
      margin-top: 0;
    }
  }
}
.Panel-content {
  @include font-18;

  p {
    margin: 0;
    padding: 0.833em 0 0;
  }

  .Panel--image & {
    @include media(tablet) {
      display: inline-block;
      width: 66.6%;
    }
  }
}
