.SearchForm {
  @extend %contain-floats;
  @include grid-column(1/3, $full-width: desktop, $float: right);
  position: relative;
  padding: {
    top: 1.250em;
    bottom: 1.250em;
    right: 4.063em;
    left: 0;
  };

  @include media(tablet) {
    padding-right: 4.688em;
  }

  @include media(desktop) {
    width: auto;
    float: none;
    text-align: center;
    margin: 0 auto;
    padding: {
      top: 3.125em;
      bottom: 3.125em;
      right: 0;
    }
  }
}
.SearchForm-label {
  @extend .visuallyhidden;
  @include font-27(500);
  color: $primary-colour;

  @include media(desktop) {
    position: relative;
    left: auto;
    display: block;
    padding-bottom: 0.833em;
  }
}
.SearchForm-query {
  @include box-sizing(border-box);
  @include font-18;
  text-transform: uppercase;
  display: block;
  border: 1px solid $dark-grey;
  padding: 0.719em 0.625em;
  margin: 0;
  width: 100%;

  @include media(tablet) {
    padding: {
      top: 0.917em;
      bottom: 0.917em;
    };
  }

  @include media(desktop) {
    // @include font-18;
    padding: {
      top: 0.639em;
      bottom: 0.639em;
    };
    width: 258px;
    float: left;
  }

  &::-webkit-input-placeholder {
    text-transform: none;
  }
  &:-moz-placeholder {
    text-transform: none;
  }
  &::-moz-placeholder {
    text-transform: none;
  }
  &:-ms-input-placeholder {
    text-transform: none;
  }
}
.SearchForm-wrap {
  @extend %contain-floats;

  @include media(desktop) {
    margin: 0 auto;
    width: 535px;
  }
}
.SearchForm-submit {
  @extend .IconRtl;
  @extend .Icon--search;
  @extend .Icon--compact;
  @include border-radius(3px);
  @include font-27;
  cursor: pointer;
  border: 0;
  height: 2.273em;
  width: 2.273em;
  margin: 0;
  padding: 0;
  float: right;
  text-align: center;
  position: absolute;
  top: 20px;
  right: 0;

  @include media(tablet) {
    height: 2.222em;
    width: 2.222em;
  }

  @include media(desktop) {
    @include font-18(700);
    float: left;
    position: relative;
    top: auto;
    right: auto;
    height: auto;
    width: 260px;
    color: $white;
    padding: 0.694em 1em;
    margin-left: 0.789em;

    &:after {
      display: none;
    }
  }
}
.SearchForm-submitText {
  @extend .visuallyhidden;

  @include media(desktop) {
    position: relative;
    left: auto;
    display: block;
  }
}
