.SearchForm {
  @extend %contain-floats;
  @include font-18;
  @include grid-column(1/3, $full-width: desktop, $float: right);
  position: relative;
  padding: {
    top: 1.389em;
    bottom: 1.389em;
    right: 4.063em;
    left: 0;
  };

  @include media(tablet) {
    padding-right: 3.611em;
  }

  @include media(desktop) {
    width: auto;
    float: none;
    text-align: center;
    margin: 0 auto;
    padding: {
      top: 2.778em;
      bottom: 2.778em;
      right: 0;
    }

    &.SearchForm--compact {
      padding-bottom: 1.389em;
    }
  }

  &.SearchForm--compact {
    padding-top: 0;
  }
}
.SearchForm-heading,
.SearchForm-subHeading {
  @extend .visuallyhidden;
  color: $primary-colour;

  @include media(desktop) {
    position: relative;
    left: auto;
    line-height: 1;
    margin: 0 auto;
    display: block;
    width: 70%;
    padding-bottom: 0.781em;
  }

  .SearchForm--compact & {
    @extend .visuallyhidden;
  }
}
.SearchForm-heading {
  @include font-32(800);
}
.SearchForm-subHeading {
  @include font-18(800);

  @include media(desktop) {
    padding-bottom: 1.389em;
  }
}
.SearchForm-labelText {
  @extend .visuallyhidden;

  @include ie-lte(9) {
    @include font-18(500);
    color: $primary-colour;
    text-align: left;
    position: relative;
    left: auto;
    display: block;

    .SearchForm--compact & {
      color: $white;
    }
  }
}
.SearchForm-wrap {
  @extend %contain-floats;
  display: block;

  @include media(desktop) {
    margin: 0 auto;
    width: 385px;
  }

  .SearchForm--compact & {
    width: auto;
    margin: 0;
  }
}
.SearchForm-query {
  @include box-sizing(border-box);
  @include font-18;
  text-transform: uppercase;
  display: block;
  border: 1px solid $dark-grey;
  padding: 0.781em 0.625em;
  margin: 0;
  width: 100%;
  height: 50px;

  @include media(desktop) {
    padding: {
      top: 0.639em;
      bottom: 0.639em;
    };
    width: 258px;
    float: left;

    .SearchForm--compact & {
      width: 198px;
    }
  }

  @include ie(7) {
    height: 30px;
    width: 235px;
  }

  &::-webkit-input-placeholder {
    text-transform: none;
  }
  &:-moz-placeholder {
    text-transform: none;
  }
  &::-moz-placeholder {
    text-transform: none;
  }
  &:-ms-input-placeholder {
    text-transform: none;
  }
}
.SearchForm-submit {
  @extend .IconRtl;
  @extend .Icon--search;
  @extend .Icon--compact;
  @include border-radius(3px);
  font-size: 24px;
  cursor: pointer;
  border: 0;
  height: 50px;
  width: 50px;
  margin: 0;
  padding: 0;
  float: right;
  text-align: center;
  position: absolute;
  top: 22px;
  right: 0;

  &:focus {
    position: absolute;
  }
  &:active {
    top: 24px;
  }

  @include media(tablet) {
    top: 25px;

    &:active {
      top: 27px;
    }
  }

  @include media(desktop) {
    @include font-18(700);
    float: left;
    position: relative;
    top: auto;
    right: auto;
    height: auto;
    width: 110px;
    color: $white;
    padding: 0.694em 1em;
    margin-left: 0.789em;

    &:after {
      display: none;
    }
    &:active {
      top: 2px;
    }
    &:focus {
      position: relative;
    }

    .SearchForm--compact & {
      width: auto;
    }
  }

  .SearchForm--compact & {
    top: 0;

    &:active {
      top: 2px;
    }
  }
}
.SearchForm-submitText {
  @extend .visuallyhidden;

  @include media(desktop) {
    position: relative;
    left: auto;
    display: block;
  }
}
