.SecurityBanner {
  @extend .MetaPanel;

  @include media(tablet) {
    &:first-child {
      margin-top: 2.778em;
    }
    &:last-child {
      margin-bottom: 2.778em;
    }
  }
}
.SecurityBanner-heading {
  @include font-24(700);
  margin: 0;
}
.SecurityBanner-content {
  @include font-18;
  margin-top: 1.389em;
}
.SecurityBanner-action {
  @include font-18(700);
}
