.SecurityBanner {
  @include grid-column( 1/1 );
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: lighten($black, 15%);
  color: $white;
  z-index: 100;

  &:link,
  &:visited,
  &:active {
    color: $white;
  }

  @include media(desktop) {
    bottom: auto;
    left: auto;
    top: 0;
    width: auto;
  }
}
