.SubNavigation-menu {
  @extend %contain-floats;
  @include font-18;
  padding: 0 0 2.222em 1.25em;
  margin: 0;

  @include media(desktop) {
    @include columns(2);
    list-style-position: inside;
    padding-left: 0;
  }
}

.SubNavigation-itemLink {
  .SubNavigation-menuItem--active & {
    color: $secondary-colour;
  }
}
