.SubNavigation-menu {
  @extend %contain-floats;
  @include columns(2);
  @include font-18;
  padding: 0 0 2.222em;
  margin: 0 0 2.778em;
  list-style-position: inside;
  border-bottom: 1px solid $dark-grey;
}

.SubNavigation-menuItem {
  padding-bottom: 0.444em;
}

.SubNavigation-itemLink {
  .SubNavigation-menuItem--active & {
    color: $secondary-colour;
  }
}
