.SubNavigation {
  @include grid-column( 2/3 );
}

.SubNavigation-heading {
  @include font-16;
  margin-bottom: 0.5em;
}

.SubNavigation-menu {
  @extend %contain-floats;
  @include font-16;
  border-bottom: 1px solid $grey;
  padding: 0 0 2.222em 1.25em;
  margin: 0;
}

.SubNavigation-itemLink {
  .SubNavigation-menuItem--active & {
    color: $secondary-colour;
  }
}
